.header{
  background-color: rgb(98,255,71);
  width: 100%;
  height: 50px;
}
body{
  margin: 0;
}
.logo{
  width: 50%;
  padding-top: 10px;
  float: left;
}
.login{
  width: 50%;
  float: left;
  text-align: right;
  padding-top: 10px;
}
.logotext{
  color: blue;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 50px;
  float: left;
}
.logotext p{
}
.contact{
  color: #fff;
  background-color: black;
  border-radius: 8px;
  border: 1px;
  padding: 7px;
  text-align: center;
  font-weight: bold;
  width: 85px;
  margin-right: 20px;
  cursor: pointer;
}
.main-left{
  color: red;
  width: 100%;
  height: 50%;
  text-align: center;
}
.name{
  font-weight: bold;
  font-family: times;
  font-size: 50px;
} 
.price{
  font-weight: bold;
  color: green;
  font-size: 40px;
}
.text2{
  font-size: 30px;
  color: black;
}
.button1{
  color: #0016c5;
  background-color: #0016c5;
  border-radius: 25%;
}
.button2{
  background-color: #001014;
  border-radius: 25%;
}
.button3{
  color: #de0c0c;
  background-color: #de0c0c;
  border-radius: 25%;
}
.button4{
  color: #05ad05;
  background-color: #05ad05;
  border-radius: 25%;
}
#but{
  width: 40px;
  height: 25px;
  margin: 10px;
}
.buy{
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 7px;
  border-color: black;
  color: blue;
  cursor: pointer;
  background-color: #7a8f94;
  width: 100px;
  height: 30px;
}
.colour{
  font-family: Monospace;
  font-size: 12px;
  color: black;
  margin-bottom: 1px;
}
.main-left{
  align-items: center;
  padding-top: 8%;
}
.main-right{
  padding: 25px;
  align-items: center;
  height: 10%;
  padding-left: 20%;
}
.image1{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.sub-main{
  align-items: left;
}
.sub{
  text-align: left;
  font-size: 15px;
  margin-top: 10%;
  background-color: #acaf9bc5;
  padding-top: 5px;
  padding-bottom: 5px;
}
.lh{
  font-weight: bold;
  font-style: underline;
  font-size: 20px;
}
li{
  font-size: 15px;
}